################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FooDo2/v15/Server/sqlite3
/.vs/FooDo2/v15
C:\Users\Roman\Documents\GitHub\FooDoAppp\FooDo2\obj
C:\Users\Roman\Documents\GitHub\FooDoAppp\FooDo2\bin


