@model FooDo2.Models.user
@{
    Layout = "~/Views/Shared/mainLayout.cshtml";
}



<h1> Hello. </h1>


<div class="container-fluid" style="width:40%; margin-top:100px; background-color:lavender;  opacity: 0.9;">
    <div class="row">
        <a href="@Url.Action("Index","Tables")">
            <div class="col-sm-12" style="background-color:lavenderblush; height:250px; text-align:center; padding-top:80px"> <h1>Tables </h1></div>
        </a>

    </div>
</div>
